<h1>ゲットしたポケモン一覧</h1>
<table class='table-set'>
  <tr>
    <th>名前</th>
    <th>タイプ</th>
    <th>画像</th>
  </tr>
<% @pokemons.each do |poke| %>
  <tr>
    <td><%= poke.name %></td>

    <td><%= poke.pokemon_type %></td>
    
    <td><%= image_tag poke.img %></td>
  </tr>  
<% end %>
<%= link_to 'やることリストに戻る', todos_path %>