// Place all the styles related to the Pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn-gatya-3d {
  display: inline-block;
  text-decoration: none;
  background: #eef105;
  color: rgb(235, 74, 10);
  width: 180px;
  height: 180px;
  line-height: 180px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #face0a;
  transition: .4s;
  z-index: 1;
  position: relative;
}

.btn-gatya-3d:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}
.my-circle{
  position: relative;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 100px;
  animation: right 2s .3s ease-out infinite alternate;
}
.move-right{
  animation: right 8s .10s ease-out infinite alternate;
}
.move-left{
  animation: left 8s .12s ease-out infinite alternate;
}
.move-top{
  animation: top 2s .3s ease-out infinite alternate;
}
.move-bottom{
  animation: bottom 8s .12s ease-out infinite alternate;
}
@keyframes right{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(60%);
  }
}
@keyframes left{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(40%);
  }
}
@keyframes top{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(40%);
  }
}
@keyframes bottom{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(50%);
  }
}